[submodule "web/ui/vendors/jmesnil/stomp-websocket"]
    path = web/ui/vendors/jmesnil/stomp-websocket
    url = https://github.com/jmesnil/stomp-websocket.git
    ignore = untracked
[submodule "web/ui/vendors/probonogeek/extjs"]
    path = web/ui/vendors/probonogeek/extjs
    url = https://github.com/probonogeek/extjs.git
    ignore = untracked
